# Ignore everything under build/
build
.cursor

# BUT keep the final binaries we care about
!**/build/*.uf2

# Ignore all .vscode settings folders
**/.vscode/**

# Ignore secrets
**/network_config.h
network_config_base.h

# Ignore cloned Paho MQTT-SN repository
paho.mqtt-sn.embedded-c/
paho.mqtt-sn.embedded-c
paho.mqtt-sn.embedded-c
